@model DoAn_LTW.Models.LOAISANPHAM
<main id="main" class="main">
    <div class="pagetitle">
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    @Html.ActionLink("Trang Chủ", "Main_Page", "Provider")
                </li>
                <li class="breadcrumb-item">Danh Mục Các Loại Sản Phẩm</li>
                <li class="breadcrumb-item">Xóa Loại Sản Phẩm</li>
            </ol>
        </nav>
    </div>
    <section class="section">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <form method="post" action="@Url.Action("Delete_Loai_San_Pham", "Category")">
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.ID)
                            <br />
                            <div class="row mb-3">
                                @Html.LabelFor(model => model.MALOAI, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DisplayFor(model => model.MALOAI)
                                </div>
                            </div>

                            <div class="row mb-3">
                                @Html.LabelFor(model => model.TENLOAI, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DisplayFor(model => model.TENLOAI)
                                </div>
                            </div>
                            <div class="form-actions no-color">
                                <input type="submit" value="Delete" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>