@model DoAn_LTW.Models.ViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";

    @functions {
        Random random = new Random();

        int GetRandomDiscount()
        {
            return random.Next(5, 26);
        }
    }
}

<link rel="stylesheet" href="~/Content/ShareStyle/Style.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="~/Content/ShareJS/JavaScript.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

<style>
    .swiper-container {
        width: 100%;
        position: relative;
        overflow: hidden;
        padding: 0;
        border-radius: 12px;
    }

    .swiper-wrapper {
        margin-bottom: 10px;
        height: 400px;
    }

    .swiper-slide {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        height: 400px;
        margin-top: 8px;
    }

    .swiper-button-next, .swiper-button-prev {
        color: white;
        background-color: grey;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0.3;
    }

        .swiper-button-next::after,
        .swiper-button-prev::after {
            font-size: 24px;
        }

    .swiper-button-prev {
        border-radius: 0 100px 100px 0;
        left: 0;
    }

    .swiper-button-next {
        border-radius: 100px 0 0 100px;
        right: 0;
    }
</style>


<div class="content">
    <div class="title-sale">
        <p class="title"><span style="color: red;">HOT SALE</span> CUỐI TUẦN</p>
    </div>

    <div class="swiper-container" id="swiper" style="background-color: orange;">
        <div class="swiper-wrapper">
            @foreach (var item in Model.CHITIETSANPHAMs)
            {
                <div class="swiper-slide">
                    <div class="product-info" style="border: none;">
                        <div class="giam-gia">Giảm @GetRandomDiscount()%</div>
                        <div class="product-details">
                            <a class="product-link" href="@Url.Action("Click_Show_Detail", "Product", new { ID = item.ID })">
                                <img class="img" src="~/Content/image/Image_Product/@item.HINHANH" alt="@item.TENSANPHAM">
                                <h5 class="name-product">@item.TENSANPHAM</h5>
                                <div class="price-product">
                                    @{
                                        var giaMoi = item.GIA - 2000000;
                                    }
                                    <p class="giaMoi">@giaMoi</p>
                                    <del class="gia">@item.GIA</del>
                                </div>
                            </a>
                            <div class="wish-list">
                                <p>Yêu thích</p>
                                <div class="svg-container">
                                    <svg viewBox="20 18 29 28" aria-hidden="true" focusable="false" class="heart-border icon-svg icon-svg--color-cps filledHeart">
                                        <path d="M28.3 21.1a4.3 4.3 0 0 1 4.1 2.6 2.5 2.5 0 0 0 2.3 1.7c1 0 1.7-.6 2.2-1.7a3.7 3.7 0 0 1 3.7-2.6c2.7 0 5.2 2.7 5.3 5.8.2 4-5.4 11.2-9.3 15a2.8 2.8 0 0 1-2 1 3.4 3.4 0 0 1-2.2-1c-9.6-10-9.4-13.2-9.3-15 0-1 .6-5.8 5.2-5.8m0-3c-5.3 0-7.9 4.3-8.2 8.5-.2 3.2.4 7.2 10.2 17.4a6.3 6.3 0 0 0 4.3 1.9 5.7 5.7 0 0 0 4.1-1.9c1.1-1 10.6-10.7 10.3-17.3-.2-4.6-4-8.6-8.4-8.6a7.6 7.6 0 0 0-6 2.7 8.1 8.1 0 0 0-6.2-2.7z" fill="red"></path>
                                    </svg>

                                    <svg viewBox="0 0 19.2 18.5" aria-hidden="true" focusable="false" class="heart-stroke icon-svg icon-svg--color-silver emptyHeart">
                                        <path d="M9.66 18.48a4.23 4.23 0 0 1-2.89-1.22C.29 10.44-.12 7.79.02 5.67.21 2.87 1.95.03 5.42.01c1.61-.07 3.16.57 4.25 1.76A5.07 5.07 0 0 1 13.6 0c2.88 0 5.43 2.66 5.59 5.74.2 4.37-6.09 10.79-6.8 11.5-.71.77-1.7 1.21-2.74 1.23z" fill="red"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</div>

@Html.Action("LoaiSanPhamPartial", "Product")

<div class="content-2">
    <div class="swiper-container" id="swiper1">
        <div class="swiper-wrapper">
            @foreach (var item in Model.CHITIETSANPHAMs)
            {
                <div class="swiper-slide">
                    <div class="product-info" style="border: none;">
                        <div class="giam-gia">Giảm @GetRandomDiscount()%</div>
                        <div class="product-details">
                            <a class="product-link" href="@Url.Action("Click_Show_Detail", "Product", new { ID = item.ID })">
                                <img class="img" src="~/Content/image/Image_Product/@item.HINHANH" alt="@item.TENSANPHAM">
                                <h5 class="name-product">@item.TENSANPHAM</h5>
                                <div class="price-product">
                                    @{
                                        var giaMoi = item.GIA - 2000000;
                                        var giaLenDoi = item.GIA - 3000000;
                                    }
                                    <p class="giaMoi">@giaMoi</p>
                                    <del class="gia">@item.GIA</del>
                                </div>
                                <div class="price-up">
                                    <p>Giá lên đời: </p>
                                    <p class="giaLenDoi">@giaLenDoi</p>
                                </div>
                            </a>
                            <div class="wish-list">
                                <p>Yêu thích</p>
                                <div class="svg-container">
                                    <svg viewBox="20 18 29 28" aria-hidden="true" focusable="false" class="heart-border icon-svg icon-svg--color-cps filledHeart">
                                        <path d="M28.3 21.1a4.3 4.3 0 0 1 4.1 2.6 2.5 2.5 0 0 0 2.3 1.7c1 0 1.7-.6 2.2-1.7a3.7 3.7 0 0 1 3.7-2.6c2.7 0 5.2 2.7 5.3 5.8.2 4-5.4 11.2-9.3 15a2.8 2.8 0 0 1-2 1 3.4 3.4 0 0 1-2.2-1c-9.6-10-9.4-13.2-9.3-15 0-1 .6-5.8 5.2-5.8m0-3c-5.3 0-7.9 4.3-8.2 8.5-.2 3.2.4 7.2 10.2 17.4a6.3 6.3 0 0 0 4.3 1.9 5.7 5.7 0 0 0 4.1-1.9c1.1-1 10.6-10.7 10.3-17.3-.2-4.6-4-8.6-8.4-8.6a7.6 7.6 0 0 0-6 2.7 8.1 8.1 0 0 0-6.2-2.7z" fill="red"></path>
                                    </svg>

                                    <svg viewBox="0 0 19.2 18.5" aria-hidden="true" focusable="false" class="heart-stroke icon-svg icon-svg--color-silver emptyHeart">
                                        <path d="M9.66 18.48a4.23 4.23 0 0 1-2.89-1.22C.29 10.44-.12 7.79.02 5.67.21 2.87 1.95.03 5.42.01c1.61-.07 3.16.57 4.25 1.76A5.07 5.07 0 0 1 13.6 0c2.88 0 5.43 2.66 5.59 5.74.2 4.37-6.09 10.79-6.8 11.5-.71.77-1.7 1.21-2.74 1.23z" fill="red"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="swiper-button-next swiper-button-next-1"></div>
        <div class="swiper-button-prev swiper-button-prev-1"></div>

    </div>
    <div align="center">
        <button class="btn-theLoai btn-showall m-2" type="button" onclick="window.location.href='@Url.Action("ShowALL", "Product")'">Xem tất cả</button>
    </div>
</div>


<div>
    <button id="backToTop" title="Back to top" class="btn-back-to-top button__back-to-top show">
        <div class="icon-up">
            <svg height="15" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path d="M416 352c-8.188 0-16.38-3.125-22.62-9.375L224 173.3l-169.4 169.4c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25l192-192c12.5-12.5 32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25C432.4 348.9 424.2 352 416 352z"></path>
            </svg>
        </div>
        <strong>Lên đầu</strong>
    </button>
    <a id="btnZaloChat" target="_blank" rel="noopener nofollow" href="https://id.zalo.me/account?continue=https://chat.zalo.me" class="btn-zalo-chat button__zalo">
        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:0:0/q:80/plain/https://cellphones.com.vn/media/icons/icon-zalo.png" alt="Zalo Button">
    </a>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
<style>
    .social {
        background: #f5f5f5 0% 0% no-repeat;
        box-shadow: 0 4px 6px #00000029;
        border-radius: 30px;
        display: inline-block;
        padding: 2px;
        position: fixed;
        top: 45%;
        left: calc(50% - 720px);
    }

    .social ul {
        list-style: none;
        padding: 0;
        margin: 0
    }

    .social ul li {
        padding-bottom: 6px
    }

    .social ul li:last-child {
        padding: 0
    }

    .social ul li a {
        display: block;
        width: 50px;
        height: 50px;
        text-align: center;
        font-size: 24px;
        padding: 7px 0 3px 0;
        border-radius: 30px
    }

    .social ul li a.black {
        border: 2px solid #000;
        color: #000
    }

    .social ul li a.blue {
        border: 2px solid #3c5a99;
        color: #3c5a99
    }

    .social ul li a.red {
        border: 2px solid #f00;
        color: #f00
    }

    .social ul li a.rainbow {
        display: block;
        padding: 2px;
        background: linear-gradient(50deg,#fbe18a 0%,#fcbb45 21%,#f75274 38%,#d53692 52%,#8f39ce 74%,#ad63a0 100%) 0% 0% no-repeat;
        border-radius: 30px;
        width: 50px;
        height: 50px;
        font-size: 26px
    }

    .social ul li a.rainbow span {
        background: #fff;
        border-radius: 30px;
        display: block;
        padding: 5px 0 2px 0;
        display: block
    }

    .social ul li a.rainbow span i {
        background: transparent linear-gradient(50deg,#fbe18a 0%,#fcbb45 21%,#f75274 38%,#d53692 52%,#8f39ce 74%,#ad63a0 100%) 0% 0% no-repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .img {
        height: 162px;
    }

    @@media (max-width: 786px) {
        .img {
            height: 127px;
        }
    }
</style>

<div class="social">
    <ul>
        <li><a href="https://www.facebook.com/" title="Facebook" target="_blank" class="blue"><span><i class="fab fa-facebook"></i></span></a></li>
        <li><a href="https://www.youtube.com/" title="Youtube" target="_blank" class="red"><span><i class="fab fa-youtube"></i></span></a></li>
        <li><a href="https://www.instagram.com/" title="Instagram" target="_blank" class="rainbow"><span><i class="fab fa-instagram"></i></span></a></li>
        <li><a href="https://www.tiktok.com/" title="Tiktok" target="_blank" class="black"><span><i class="fab fa-tiktok"></i></span></a></li>
    </ul>
</div>

<div class="banner">
    <h2>KHUYẾN MÃI CHỈ CÓ TRÊN ONLINE</h2>
    <img src="~/Content/image/1200x150-tgdd-1200x150-1.png" />
</div>

<div class="content-2">
    <div class="swiper-container" id="swiper1">
        <div class="swiper-wrapper">
            @foreach (var item in Model.CHITIETSANPHAMs)
            {
                <div class="swiper-slide">
                    <div class="product-info" style="border: none;">
                        <div class="giam-gia">Giảm @GetRandomDiscount()%</div>
                        <div class="product-details">
                            <a class="product-link" href="@Url.Action("Click_Show_Detail", "Product", new { ID = item.ID })">
                                <img class="img" src="~/Content/image/Image_Product/@item.HINHANH" alt="@item.TENSANPHAM">
                                <h5 class="name-product">@item.TENSANPHAM</h5>
                                <div class="price-product">
                                    @{
                                        var giaMoi = item.GIA - 2000000;
                                        var giaLenDoi = item.GIA - 3000000;
                                    }
                                    <p class="giaMoi">@giaMoi</p>
                                    <del class="gia">@item.GIA</del>
                                </div>
                                <div class="price-up">
                                    <p>Giá lên đời: </p>
                                    <p class="giaLenDoi">@giaLenDoi</p>
                                </div>
                            </a>
                            <div class="wish-list">
                                <p>Yêu thích</p>
                                <div class="svg-container">
                                    <svg viewBox="20 18 29 28" aria-hidden="true" focusable="false" class="heart-border icon-svg icon-svg--color-cps filledHeart">
                                        <path d="M28.3 21.1a4.3 4.3 0 0 1 4.1 2.6 2.5 2.5 0 0 0 2.3 1.7c1 0 1.7-.6 2.2-1.7a3.7 3.7 0 0 1 3.7-2.6c2.7 0 5.2 2.7 5.3 5.8.2 4-5.4 11.2-9.3 15a2.8 2.8 0 0 1-2 1 3.4 3.4 0 0 1-2.2-1c-9.6-10-9.4-13.2-9.3-15 0-1 .6-5.8 5.2-5.8m0-3c-5.3 0-7.9 4.3-8.2 8.5-.2 3.2.4 7.2 10.2 17.4a6.3 6.3 0 0 0 4.3 1.9 5.7 5.7 0 0 0 4.1-1.9c1.1-1 10.6-10.7 10.3-17.3-.2-4.6-4-8.6-8.4-8.6a7.6 7.6 0 0 0-6 2.7 8.1 8.1 0 0 0-6.2-2.7z" fill="red"></path>
                                    </svg>

                                    <svg viewBox="0 0 19.2 18.5" aria-hidden="true" focusable="false" class="heart-stroke icon-svg icon-svg--color-silver emptyHeart">
                                        <path d="M9.66 18.48a4.23 4.23 0 0 1-2.89-1.22C.29 10.44-.12 7.79.02 5.67.21 2.87 1.95.03 5.42.01c1.61-.07 3.16.57 4.25 1.76A5.07 5.07 0 0 1 13.6 0c2.88 0 5.43 2.66 5.59 5.74.2 4.37-6.09 10.79-6.8 11.5-.71.77-1.7 1.21-2.74 1.23z" fill="red"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="swiper-button-next swiper-button-next-1"></div>
        <div class="swiper-button-prev swiper-button-prev-1"></div>

    </div>
    <div align="center">
        <button class="btn-theLoai btn-showall m-2" type="button" onclick="window.location.href='@Url.Action("ShowALL", "Product")'">Xem tất cả</button>
    </div>
</div>


<div class="brand-bannner-content">
    <div class="brand-banner-title">
        <h2>CHUYÊN TRANG THƯƠNG HIỆU</h2>
    </div>
    <div class="brand-banner-list-item">
        <a href="@Url.Action("ShowProductByType", "Product", new { id = "LO1" })" class="brand-banner-item">
            <img src="~/Content/image/banner-sliding-apple-112.png" />
        </a>
        <a href="@Url.Action("ShowProductByType", "Product", new { id = "L02" })" class="brand-banner-item">
            <img src="~/Content/image/th-hieu-ss-0013.png" />
        </a>
        <a href="@Url.Action("ShowProductByType", "Product", new { id = "L03" })" class="brand-banner-item">
            <img src="~/Content/image/xiaomi.png" />
        </a>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var swiper = new Swiper('.swiper-container', {
            loop: true,
            slidesPerView: 2,
            slidesPerColumn: 1,
            slidesPerColumnFill: 'col',
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            autoplay: {
                delay: 5000,
                disableOnInteraction: false,
            },
            breakpoints: {
                786: {
                    slidesPerView: 5,
                },
            },
        });

        window.addEventListener('resize', resizeSlides);

        function resizeSlides() {
            var slides = swiper.slides;
            var windowWidth = window.innerWidth;

            slides.forEach(function (slide) {
                if (windowWidth < 768) {
                    slide.style.width = '50%';
                    slide.style.height = 'auto';
                } else {
                    slide.style.width = '';
                    slide.style.height = '';
                }
            });
        }
    });

</script>